ngx-template/node_modules/
ngx-template/src/
ngx-template/e2e/**
.vscode
.gitignore
!ngx-template/src/app/
ngx-template/src/app/app.component.*
ngx-template/src/app/app.module.*
ngx-template/src/app/**.spec.*
ngx-template/src/**.*
ngx-template/**.*
ngx-template/src/typings/
ngx-template/src/environments/
!ngx-template/src/assets/
ngx-template/src/**.json
ngx-template/src/**.md
demo
sass
tsconfig.json
node_modules